@import "partials/_variables.scss";
@import "partials/_normalize.scss";
@import "partials/_mixin.scss";

body {
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  background-size: contain;
  background-color: $color-bg-body;

  font-family: 'Lato', sans-serif;

  color: $color-txt;
}

#global-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: $color-bg-body;
  background-position: top center;
}

#menu-container {
  width: 100%;
  height: 55px;
  @include content-block();
  header {

    @include global-center();
    @include vertical-center(55px);

    ul {
      list-style-type: none;
      li {
        float: right;
        position: relative;
        width: 200px;
        text-align: center;

        a {
          @include link($color-txt-important, $color-link);
        }

        a, button {
          background-color: transparent;
          text-transform: uppercase;
          border: none;
          width: 200px;
          font-weight: 300;
          color: $color-txt-important;
          text-align: right;
        }

        ul {
          display: none;
          position: absolute;
          top: 55px;
          z-index: 99;
          @include content-block();

          li {
            padding-right: 20px;
          }
        }

        &:hover ul {
          display: block;
        }
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

#header-container {

  @include global-center();
  input {
    float: right;
    width: 350px;
    padding: 5px 5px 5px 10px;
    height: 25px;
    background-image: url('/images/layout/loupe.png');
    background-repeat: no-repeat;
    background-position: 330px 10px;
    font-style: italic;
    font-size: 0.8em;
    border: none;
  }

  a {
    text-transform: uppercase;
    @include link($color-txt-important, $color-link);
  }

  .title {
    margin: 30px 0;
  }
  .subtitle {
     font-size: 0.6em;
     padding-left: 20px;
  }
}

#slide {
  @include global-center();
  position: relative;
  .slide-container {
    @include image-inbox(1190px, 440px, white);

    animation: fading 2s;
  }
  @keyframes fading {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }
  .slide-content {
    position: absolute;bottom: 10px;
    left: 50px;
    right: 50px;
    text-align: center;
    font-size: 2em;
    color: black;

    a {
      @include link($color-txt-important, $color-link);
    }
  }

  button {
    position: absolute;
    height: 100%;
    width: 50px;
    top: 0;
    background-color: transparent;
    border: none;
    color: white;

    &:hover {
      background-color: rgba($color-bg-content, 0.4);
    }

    &.slide-plus {
      right: 0;
    }

    &.slide-minus {
      left: 0;
    }
  }
}

#news {
  @include global-center();
  @include content-block();
  text-align: center;
  color: $color-txt-important;
  padding: 10px 0;

  a {
    @include link($color-txt-important, $color-link);
  }
}

#main-container {

  @include global-center();
  @include content-block();
  em {
    color: $color-txt-important;
  }
  h2, h3 {
    color: $color-txt-important;
  }

  a {
    @include link($color-txt-important, $color-link);
  }

  article {
    padding: 0 15px;

    section {
      padding: 15px 0;
      &:not(:last-child) {
        border-bottom: $color-txt-article solid 1px;
      }

      .img-container {
        float: left;
        @include image-inbox(240px, 130px, grey);
      }
      .info-container {
        margin-left: 270px;
        min-height: 140px;
      }

      p, h2, h3 {
        margin: 10px 0;
      }

      .pagination {
        text-align: center;
      }
    }
  }
}

#footer-container {
  width: 100%;
  background-color: $color-bg-content;
  text-align: center;
  color: $color-txt-article;
  ul {
    margin: 0;
    list-style-type: none;
    padding: 20px 10px;
    li {
      display: inline;
      a {
        @include link($color-txt-important, $color-link);
        text-transform: uppercase;
        font-weight: 300;
        margin: 10px;
      }
    }
  }
}

.spacer {
  @include global-center();
  background-color: white;
  @include opacity(0.5);
  height: 5px;
  margin-bottom: 20px;
}

.clear {
  clear: both;
}

.btn-category {
  @include btn-link($color-btn-category)
}

.btn-version {
  @include btn-link($color-btn-version)
}

.article-content {
  @include global-center();
  @include content-block();

  h1 {
    color: $color-txt-important;
  }

  a {
    @include link($color-txt-important, $color-link);
  }

  section {
    padding: 10px;

    article {
      padding: 20px;
      width: $width-article;
      background-color: white;
      font-size: 1.1em;
      line-height: 1.3em;

      .image-container {
        margin: 0 auto 20px auto;
        width: $width-article;
        @include image-inbox(340px, 190px, grey);
      }
      strong {
        color: $color-txt-article-important;
      }
      a {
        @include link($color-link-article, $color-link);
      }
    }

    aside {
      float: right;
      width: 300px;
      .image-container {
        float: left;
        @include image-inbox(60px, 30px, grey);
      }
      h4 {
        color: $color-txt-important;
      }
      h4, .to-see {
        border-bottom: solid 1px $color-txt-article;
        padding: 10px 0;
        font-size: 0.9em;
      }
      .info {
        margin-left: 80px;
        min-height: 45px;
      }
      h5 {
        margin-bottom: 10px;
      }
    }
  }

  #comment {
    h3 {
      color: $color-txt-important;
    }
    .comm, h3 {
      width: $width-article;
      border-bottom: solid 1px $color-txt-article;
      padding: 20px;
    }
    .login {
      width: $width-article;
      padding: 20px;
      font-size: 1.2em;
    }
  }
  #form {
    padding: 20px;
    width: $width-article;
    label {
      display: block;
      margin-bottom: 20px;
      color: $color-txt-important;
      font-size: 1.2em;
    }

    textarea {
      width: 100%;
      margin-bottom: 20px;
      height: 100px;
    }

  }
}

.content-header {
  @include global-center();
  color: $color-txt-important;
  margin-top: 25px;
  margin-bottom: 25px;

  h1 {
    display: inline;
    font-size: 1.3em;
    margin: 0;
  }

  a {
    margin-left: 10px;
  }
}

.authentification {
  padding: 200px 200px;
  margin-bottom: 50px;
  text-align: center;

  h1 {
    color: $color-txt-important;
  }

  input {
    width: 100%;
    margin-bottom: 10px;
  }

  .alert-danger {
    width: 100%;
    margin-bottom: 10px;
    background-color: red;
    color: black;
  }

  .links {
    margin-top: 100px;
  }

}

button[type="submit"] {
  float: right;
  padding: 5px 25px;
  background-color: $color-bg-content;
  border: solid 3px white;
  color: white;
}
