$color-bg-body: #373A28;
$color-bg-content: #1A2C3C;
$opacity-bg: 0.9;

$color-btn-category: #447CAB;
$color-btn-version: #FF4850;

$color-txt-important: white;
$color-txt: grey;
$color-link: #76CFEF;

$color-txt-article-important: black;
$color-txt-article: slategrey;
$color-link-article: blue;

$width-central: 1200px;
$width-article: 800px;
