@use super::head_html;
@use super::footer_html;

@()

@:head_html(true)

<div id="main-container">

    <article>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        TODO
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </article>

</div>
<div class="spacer"></div>


@:footer_html()