@()

<!-- Footer -->
<div id="footer-container">
    <footer>
        <nav>
            <ul>
                <li>
                    <a href="https://discord.gg/AJrPY9v" target="_blank">
                        Discord
                    </a>
                </li>
                <li>
                    <a href="https://github.com/Aedius/crowfall-royaumes-eternel" target="_blank">
                        Github
                    </a>
                </li>
            </ul>
        </nav>

    </footer>
</div>

<!-- /Footer -->
</div>
<script src="/static/js/runtime-main.c6a26966.js"></script>
<script src="/static/js/12.48fb9cc3.chunk.js"></script>
<script src="/static/js/main.07e40a43.chunk.js"></script>
</body>

</html>