@()

<!-- Footer -->
<div id="footer-container">
    <footer>
        <nav>
            <ul>
                <li>
                    <a href="https://discord.gg/AJrPY9v" target="_blank">
                        Discord
                    </a>
                </li>
                <li>
                    <a href="https://github.com/Aedius/crowfall-royaumes-eternel" target="_blank">
                        Github
                    </a>
                </li>
            </ul>
        </nav>

    </footer>
</div>

<!-- /Footer -->
</div>

</body>

</html>