@use super::statics::base_css;
@use super::statics::slide_js;
@use super::statics::fond_jpg;
@use super::statics::fond_footer_jpg;

@use crate::pages::menu;

@(has_slide: bool)

<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Royaumes Eternels</title>

    <meta name="description" content="Communauté Francophone pour Crowfall">

    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/@base_css.name"/>
    @if has_slide == true {
        <script type="text/javascript" src="/static/@slide_js.name" defer ></script>
    }

    <style>
        body @{
            background-image: url("/statics/@fond_footer_jpg.name");
        @}

        #global-container @{
            background-image: url('/statics/@fond_jpg.name');
        @}
    </style>
</head>


<body>
<div id="global-container">

    @:menu()

    <div id="header-container">
        <h2 class="title"><a href="/">Royaumes Eternels</a> <span class="subtitle">Le hub de la communauté francophone sur Crowfall.</span></h2>
    </div>