@use super::head_html;
@use super::footer_html;
@use crate::models::Article;
@use crate::models::index::{ Band, Index, Slide};

@(data: &Index)

@:head_html(true)

@if !data.slides.is_empty() {
<div id="slide">

    @for Slide{src, alt, url, content} in &data.slides {
    <div class="slide-container">
        <img src="/static/@src"
             alt="@alt"
             width="1190"
             height="440"
        />
        <div class="slide-content">
            @if let Some(url) = url {
            <a href="@url">
                @content
            </a>
            }else{
            @content
            }
        </div>
    </div>
    }

    <button class="slide-minus" onclick="plusDivs(-1)">🢦</button>
    <button class="slide-plus" onclick="plusDivs(1)">🢧</button>

</div>
}

@if let Some(Band{url, content}) = data.band {
<div id="news">
    <a href="@url">
        @content
    </a>
</div>
}

<div class="spacer"></div>

<div id="main-container">

    <article>

        @for Article{img, title, url, author, published, resume, ..} in &data.articles {
        <section>
            <div class="img-container">
                <img src="/static/@img"
                     width="240" height="130"
                     alt="image for : @title"/>
            </div>
            <div class="info-container">
                <h2>
                    <a href="@url">@title</a>
                </h2>
                <p>
                    Par @author, le @published
                </p>
                <p>
                    @resume
                </p>
                <p>
                    <a href="@url"> Lire la suite</a>
                </p>
            </div>
        </section>
        }

    </article>

</div>
<div class="spacer"></div>


@:footer_html()